{% extends 'page.html' %}

{% block title %}Home{% endblock title %}
{% load staticfiles %}
{% block imports %}
<link href="{% static 'css/pages/dashboard.css' %}" rel="stylesheet">
{% endblock imports %}

{% block widgetHeader %}
	<i class="fa fa-home fa-2x"></i>
	<h3>Inicio</h3>
{% endblock widgetHeader %}

{% block content %}
<!--<div class="page-header"><h2><h2>Perfil de usuario</h2></div>-->
   
    <div class="row">
    <div class="shortcuts">
    	
    	<a class="shortcut" href="/cliente">
    		<i class="fa fa-group fa-3x"></i>
    		<span class="shortcut-label">Apoyos</span>
    	</a>
    
    	<a class="shortcut" href="/certificado">
    		<i class="fa fa-folder fa-3x"></i>
    		<span class="shortcut-label">Circuitos</span>
    	</a>    	
    	<a class="shortcut" href="/asignacionespacio">
    		<i class="fa fa-hdd-o fa-3x"></i>
    		<span class="shortcut-label">No conformidades</span>
    	</a>
    </div>	
    </div>
   
{% endblock content %}